<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "Pocket Sampler"
        version     = "1.0.2" >

    <name>Drum Machine</name>
    <description>Drum Machine Application</description>
    <author href="https://github.com/TommyNT/BAI-App" email="tommynt@outlook.com">
		Paweł Kalinowski &amp; Duong Nguyen Tuan
	</author>
	<platform name="android" />

	<plugins>
		<plugin name="cordova-plugin-device" spec="~1.1.4" />
		<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
		<plugin name="cordova-plugin-media" spec="~3.0.0" />
		<plugin spec="https://github.com/triceam/LowLatencyAudio.git" source="git" />
	</plugins>

</widget>